[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
uuid = "*"
drf-nested-routers = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
faker = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.6"
